.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
public/fonts-manifest.dev.json
storage/logs/*
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing
!storage/**/.gitignore
bootstrap/cache/*.php
database/database.sqlite
.agents
.ai
.claude
.codex
